@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&display=swap');

:root {
    --main-color: #219F94;
    --bg-color: #F2F5C8;
    --accent_1: #C1DEAE;
    --accent_2: #E8E8A6;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    font-family: 'Libre Baskerville', serif;
}

html {
    font-size: 10px;    
}

#link-section > a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin: 1rem;
}

#link-section {
    background-color: var(--main-color);
    padding: 1rem;
    text-align: center;
}

header {
    background-color: var(--accent_2);
}

#content{
    background-color: var(--accent_1);
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#text-section > h1 {
    font-size: 3.5rem;
    margin-left: 2rem;
}

#text-section > p,
#text-section > span{
    font-size: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#text-section {
    text-align: start;
}

#link-section > a:hover{
    background-color: #16665f;
}

footer {
    background-color: var(--main-color);
    margin: 0px;
    height: 10rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}