@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Permanent+Marker&display=swap');

:root {
    --main-color: #219F94;
    --bg-color: #F2F5C8;
    --accent_1: #C1DEAE;
    --accent_2: #E8E8A6;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    font-family: 'Libre Baskerville', serif;
}

html {
    font-size: 10px;    
}

#link-section > a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
    margin: 1rem;
}

#link-section {
    background-color: var(--main-color);
    padding: 1rem;
    text-align: center;
}

header {
    background-color: var(--accent_2);
}

#content{
    background-color: var(--accent_1);
    margin-left: 20rem;
    margin-right: 20rem;
    padding: 2rem;
    text-align: center;
    display: flex;
}

#content > h1 {
    font-size: 5rem;
}

#content > p {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

#buy-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#input-section {
    display: flex;
    flex-direction: column;   
}

#input-section > input {
    color: #000000;
    background-color: var(--bg-color);
    margin: 1rem;
    height: 5rem;
    font-size: 20px;
    border: 3px solid var(--accent_1);
}

#text-section {
    font-size: 25px;
}

#button-section {
    background-color: #dada70;
    margin: 1rem;
    color: white;
    font-size: 2rem;
}

#button-section > button {
    background-color: var(--main-color);
    margin-bottom: 1rem;
    color: white;
    border: none;
    height: 6rem;
    width: 90%;
    font-size: 3.5rem;
}

#link-section > a:hover{
    background-color: #16665f;
}

footer {
    background-color: var(--main-color);
    margin: 0px;
    height: 10rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
}

#text-section > ul > li {
    text-align: start;
}

#button-section > button:hover {
    cursor: pointer;
}

input:focus, textarea:focus, select:focus, button:focus{
    outline: none;
}